.cet-title{
    color: white;
}

.cet-menubar {
    display: none!important;
}
#mui-rte-root {
    display: flex;
    min-height: 200px;
    border: 1px solid rgba(81, 81, 81, 1);
    border-radius: 5px;
    padding-left: 15px;
}

.MuiTableHead-root .MuiFormControl-fullWidth .MuiFormHelperText-contained {
    margin-top: 6px;
}

.MuiTableHead-root .MuiFormHelperText-root {
    min-height: 30px;
}

::-webkit-scrollbar {
    right: 0;
    width: 12px;
    height: 12px;
}

::-webkit-scrollbar-thumb {
    background-color: #999;
    border-radius: 8px;
    width: 12px;
    height: 12px;
}

::-webkit-scrollbar-track {
    background-color: transparent;
}

::-moz-selection {
    color: white;
    background: grey;
}

::selection {
    color: white;
    background: grey;
}

th.MuiTableCell-head:first-of-type {
    vertical-align: bottom;
}

.cet-titlebar {
    box-shadow: none!important;
}

.cet-mac {
    height: 32px!important;
}

.cet-titlebar {
    background-color: #6200EE!important;
}

@media (prefers-color-scheme: dark) {
    .cet-titlebar {
        background-color: #121212!important;
        background-image: linear-gradient(rgba(255, 255, 255, 0.09), rgba(255, 255, 255, 0.09))!important;
    }
}
